*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

:root{
    --color-principal: #B096FD;
    --color-secundario: black;
    --color-bordes: gray;
    --fuente-principal: helvetica;
    --size-parrafos: 25px;
}

footer {
    background-color: var(--color-principal);
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin-top: auto;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

header {
    background-color: var(--color-principal);
    padding: 20px;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
    font-family: var(--fuente-principal);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    align-items: center;
}

a{
    text-decoration: none;
}

.contenedor { 
    background-image: url(../imagenes/group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
}

#politicaDeDevolucionYCambio {
    font-family: var(--fuente-principal);
    font-size: var(--size-parrafos);
    margin: 100px;
    padding: 25px 20px;
}

.form {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 250px;
}
.form_contenedor {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_input {
    font-size: 1rem;
    padding: .8em 1em;
}

.form_input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form_cta {
    font-size: 1rem;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

.form_i {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.form_contenedor_i {
    width: 50%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_iniciar {
    font-size: 1rem;
    padding: .8em 1em;
}

.form_Sesion {
    font-size: 1rem;
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

.parrafo_del_inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.productos-contenedor {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    width: 100%;
}

.remera-negra-frente {
    grid-area: r-n-frente;
}

.remera-negra-atras {
    grid-area: r-n-atras;
}

.remera-blanca-frente {
    grid-area: r-b-frente;
}

.remera-blanca-atras {
    grid-area: r-b-atras;
}

.remera-violeta-frente {
    grid-area: r-v-frente;
}

.remera-violeta-atras {
    grid-area: r-v-atras;
}

.productos{
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
}

.dropdown {
    display: flex;
    flex-direction: row-reverse;
}