.form_contenedor {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    text-align: center;
}
.form_input{
    font-size: 10px;
    padding: .8em 1em;
    width: 75%;
    margin-left: 200px;
}
.form_input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}
.form_cta {
    font-size: 1rem;
    background-color: $color-principal;
    color: $color-secundario;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    width: 50%;
    margin-left: 450px;
}