nav{
    ul{
       li {
        list-style: none;
        display: inline-block;
        padding: 0 20px;    
        align-items: center;    
        a{
            text-decoration: none;        
        }             
    }
} 
}
.contenedor{ 
    background-image: url(../imagenes/group.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 200px;
    width: 100%;
}
.ropa{
    padding: 80px 0;
}
.carouselExample{
    background-size: contain;
    width: 100%;
    margin: 0 auto;
}
@mixin cuadrado ($fondo, $ancho){
    background-color: $fondo;
    width: $ancho;
    height: 250px;
    margin-top: 5px;
    padding: 10px;
    margin-left: 10px;
}
.contenedor-dif{
    display: flex;
    justify-content: center;
    font-size: $tipografia-principal;
    .cuadrado-uno{
        @include cuadrado(#555, 350px);
        margin-right: 150px;
        background-image: url(../imagenes/img7.png);
        background-size: cover;
        background-position: 500%
    }
    .cuadrado-dos{
        @include cuadrado(#555, 350px);
        background-image: url(../imagenes/img4.png);
        background-size: cover;
        background-position: 0%
    }
    .cuadrado-tres{
        @include cuadrado(#555, 350px);
        margin-left: 150px;
        background-image: url(../imagenes/img1.png);
        background-size: cover;
        background-position: center;
    }
    .button-compra{
        padding: 5px 5px;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        margin-top: 15%;
        margin-left: 100px;
    }
    @media (max-width:800px){
            display: flex;
            justify-content: center;
    }
    @media (max-width:320px){
            display: flex;
            justify-content: center;
    }
}
.button{
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #666;
    background-color: rgba(#FBFAF8, .3);
    margin-top: 50px;
}
.contenedor-info{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    font-size: $tipografia-principal;
    .cont-info{
        display: flex;
        flex-direction: column;
        background-color: $color-principal;
        height: 250PX;
        padding: 10px;
        width: 500px;
        text-align: center;
        margin-right: 150px;
    }
    .cont-info-dos{
        display: flex;
        flex-direction: column;
        background-color: $color-principal;
        height: 250PX;
        padding: 10px;
        width: 500px;
        text-align: center;
    }
    .cont-info-tres{
        display: flex;
        flex-direction: column;
        background-color: $color-principal;
        height: 250PX;
        padding: 10px;
        width: 500px;
        text-align: center;
        margin-left: 150px
    }
    .info-uno{
        @extend .button;
        background-color: #C0FDFF;
    }
    .info-dos{
        @extend .button;
        background-color: #C8E7FF;
    }
    .info-tres{
        @extend .button;
        background-color: #D0D1FF;
    }
}
