#politicaDeDevolucionYCambio {
    font-family: $tipografia-principal;
    font-size: $size-parrafos;
    margin: 100px 100px;
    text-align: center;
    .dev-dos{
        margin-top: 40px;
    }
    .dev-tres{
        margin-top: 40px;
    }
    .dev-cuatro{
        margin-top: 40px;
    }
}

@media (max-width:800px){
    .container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:320px){
    .container{
        display: flex;
        justify-content: center;
    }
}