#politicaDeDevolucionYCambio {
    font-family: $tipografia-principal;
    font-size: $size-parrafos;
    margin: 100px 100px;
    .parrafo-uno{
        margin: 100px;
    }
    .parrafo-dos{
        margin: 100px;
    }
    .parrafo-tres{
        margin: 100px;
    }
    .parrafo-cuatro{
        margin: 100px;
    }
}